.header {
  
  height: 4rem;
  background-color: #F9FBFD;
}
.edit-page {
  height: 92vh;

}
.edit-bar {
  height: 3rem;

}
button{
padding: 5px;
background-color: rgb(210, 210, 237) ;
border-radius: 20px;
margin: 5px 10px;
border: none;
}

